@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');
@import 'variables.css';


.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: var(--background);
  color: var(--text);
  font-family: "Rubik", sans-serif;

  &.loading {
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--textLight);

    &::after {
      display: none;
    }
  }

  /* The arrow */
  &::after {
    content: "";
    background: url("/images/left.svg") no-repeat 50% 50%;
    background-size: contain;
    position: absolute;
    top: calc(50% - 17px);
    left: 18px;
    height: 34px;
    width: 34px;
  }

  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;

    &::after {
      content: "";
      background-image: url("/images/right.svg");
      left: auto;
      right: 18px;
    }

    .TimelineEvent::before {
      left: auto;
      right: 39px;
    }
    .TimelineEvent::after {
      left: auto;
      right: 34px;
    }
  }
}
